.Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fontFamilia);
    background-color: var(--corPrimaria);
    color: var(--corSecundaria);
    font-size: 2em;
    padding: 1em 2em;
    
}
.Banner__divisao{
    margin: 0.5em 0em;
}
.Banner__data ,.Banner__time{
    font-size: 1.1em;
    color: var(--corSecundaria);
    background-color: var(--corTerciaria);
    border: none;
    border-radius:.2em;
    outline: none;
}


