.secao__troca {
  font-family: 'Tilt Warp', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 2em;
  color: var(--corPrimaria);
  font-size: 2em;
}

.secao__troca__anterior,
.secao__troca__posterior,
.secao__tempo,.secao__meta {
  font-size: larger;
  color: var(--corSecundaria);
  background-color:var(--corTerciaria);
  border: none;
  border-radius: 3px;
  font-size: 1.5em;
  margin: 0 .4em;
  outline: none;
}