.Organizacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 3500px;
    min-width: 200px;
    margin: 0 20em;
}

.Organizacao .Organizacao__menu {
    display: flex;
    justify-content: center;
    margin: 1em 0em;

}

.Organizacao__botoa-Equipe,
.Organizacao__botoa-Organizacao,
.Organizacao__botoa-Quadro,
.Organizacao__add-Operador,
.Organizacao__ocorrencias-btn,
.Organizacao__tempos button {
    margin: .5em;
    padding: 1em 5em;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--corSecundaria);
    background-color: var(--corTerciaria);
    transition: .4s ease-in-out;
}

.Organizacao__botoa-Equipe:hover,
.Organizacao__botoa-Organizacao:hover,
.Organizacao__botoa-Quadro:hover,
.Organizacao__add-Operador:hover,
.Organizacao__rmv-Operador:hover,
.Organizacao__finalizar-time:hover,
.Organizacao__ocorrencias-btn:hover,
.Organizacao__tempos button:hover {
    color: var(--corSecundaria);
    background-color: var(--corPrimaria);
}

.Organizacao__tempos-preparadores {
    display: flex;
    max-width: 100%;
    font-size: 1.8em;
    justify-content: space-between;
    margin: 0em 2em;
}

.Organizacao__tempos {
    display: flex;
    flex-direction: column;


}

.Organizacao__tempos button {
    display: flex;
    align-self: center;

}

.Organizacao span {
    border: var(--corQuarternaria) solid 2px;
    width: 100%;
    text-align: center;
    color: var(--corPrimaria);
    font-size: 1.2em;
    height: 1.1em;
}

.Organizacao__time-inserir {
    display: flex;
    justify-content: center;
    align-items: center;


}

.Organizacao__time-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    font-size: .7em;
    margin: 0 1em;
}

.Organizacao__preparadores-maquinas {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(8, 223.5px);
    margin: 0 3.6em;
}

.Organizacao__preparadores-select,
.Organizacao__preparadores-select__nome,
.Organizacao__preparadores-liHoras,
.Organizacao__preparadores-p {
    display: grid;
    font-size: 2.4em;
    width: 5.80em;
    border: var(--corQuarternaria) solid 1px;
    background-color: var(--corTerciaria);
    color: var(--corSecundaria);
    text-align: center;
}

.Organizacao__preparadores-liHoras,
.Organizacao__preparadores-p {
    height: 1.168em;
}

.Organizacao__preparadores-option {
    text-align: center;
    background-color: var(--corPrimaria);
    color: var(--corSecundaria);
}



.Organizacao__preparadores-li,
.Organizacao__Tempo-inicial,
.Organizacao__Tempo-final {
    text-align: center;
    font-size: 2.5em;
    list-style: none;
    border: var(--corQuarternaria) solid 1px;
    background-color: var(--corPrimaria);
    color: var(--corSecundaria);
    height: 1.125em;
}

.Organizacao__Tempo-inicial,
.Organizacao__Tempo-final {
    width: 6.8em;
    height: 1.388em;
}

.Organizacao__preparadores-avaliacao {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.Organizacao__preparadores-avaliacao p {
    padding: 7.5px 90px;
    border: 1px solid var(--corQuarternaria);
    font-size: 30px;
}